<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="org/springframework/boot/logging/logback/file.xml"/>

    <logger name="com.baidu.oped.sia.boot" level="INFO"/>
    <logger name="com.baidu.oped.sia.business" level="DEBUG"/>
</configuration>